body {
  padding: 2em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.topbar {
/*  background: tomato;*/
}

header {
/*  background: pink;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row no-wrap;
  justify-content: space-between;
}

nav {
}

nav .hamburguer {
/*  background: brown;*/
  display: block;
}

nav ul {
  background: lightgrey;
  border: 1px solid black;
  display: none;
  width: 100%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

article {
  padding: 5px;
  margin: 10px;
}

.footer {
/*  background: lightgreen;*/
}

.main {
  text-align: left;
/*  background: deepskyblue;*/
}

.aside {
/*  background: hotpink;*/
  display: none;
}


.aside article {
  padding: 5px;
  margin: 10px;
}

@media (min-width: 600px) {

  nav ul {
    display: block;
  }
  nav .hamburguer {
    display: none;
  }
  .aside {
    flex: 1 1 auto;
    display: block;
  }

  .aside article {
  }

  .main {
    flex: 3 0 auto;
  }

  .main {
    order: 1;
  }

  .aside {
    order: 2;
  }

  .footer {
    order: 3;
  }

  .social {
    display: block;
    display: block!important;
  }

  .social ul {
    padding: 0;
    margin: 0;
  }

  .social li {
    list-style-type: none;
    display: inline-block;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 5px;
  }

  .social__facebook {
    background: blue;
  }
  .social__twitter {
    background: lightblue;
  }
  .social__google {
    background: red;
  }
}

.logo {
  color: white;
  background: grey;
  order: 1;
  height: 70px;
  flex-basis: 70px;
  line-height: 70px;
}

.name {
/*  background: lightblue;*/
  font-family: cursive;
  font-size: 40px;
  order: 2;
  line-height: 65px;
  text-align: left;
  padding-left: 10px;
  flex-grow: 3;
  font-family: ;
}

.social {
/*  background: blue;*/
  order: 3;
  display: none;
}